<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <title>Error Not Found</title>
    </head>
    <body>
      <style>
        @import
        url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

        @import
        url("https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous");

        .title_head {
          font-family: 'Bebas Neue', cursive;
        }
        
      </style>
      <div class="jumbotron bg-dark">
        <p class="h1 text-center text-light title_head"> Waktu Sholat </p>
        <hr class="display-3 bg-danger">
      </div><br>
      <div class="container-fluid">
        <div class="col-md-12">
          <center>
            <img class="rounded max-width: 100%; height: auto;" src="https://i.ibb.co/K283cVR/masjid.png">
          </center>
        </div>
      </div><br>
        
      <div class="container">
        <div class="card">
          <div class="card-body bg-danger">
            <p class="h2 text-center title_head">ERROR NOT FOUND</p>
            <hr class="display-4 bg-dark">
            <p class="h4 title_head">Maaf kendala ini harus terjadi :(, Hal ini dikarenakan api yang saya gunakan tidak memiliki data di kota tersebut</p><br>
            <p class="h4 title_head">Terima kasih atas pengertiannya >_<</p>
          </div>
        </div>
      </div><br><br>
      
      <center>
        <a href="{{ url_for('index') }}">
          <button type="button" class="title_head btn btn-primary">Kembali</button>
        </a>
      </center><br><br>
      
      <div class="container-fluid">
      <div class="jumbotron bg-dark">
        <p class="h5 text-center title_head text-light">Made with <i class="fas fa-heart text-danger"></i> By VIT ID</p><br>
          <div class="container">
            <center>
              <a href="https://github.com/DavitID">
                <p class="fab fa-github text-light"> Github </p>
              </a>
            </center>
            <center>
              <a href="https://instagram.com/davit__id">
                <p class="fab fa-instagram text-light"> Instagram </p>
              </a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>