<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <title>Jadwal Sholat</title>
    </head>
    <body>
      <style>
        @import
        url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

        @import
        url("https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous");

        .title_head {
          font-family: 'Bebas Neue', cursive;
        }
        
      </style>
      <div class="jumbotron bg-dark">
        <p class="h1 text-center text-light title_head"> Waktu Sholat </p>
        <hr class="display-3 bg-danger">
      </div><br>
      <div class="container-fluid">
        <div class="col-md-12">
          <center>
            <img class="rounded max-width: 100%; height: auto;" src="https://i.ibb.co/K283cVR/masjid.png">
          </center>
        </div>
      </div><br>
      <form class="form-group" action="/" methods="post">
        <div class="container">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <p class="h4 text-center title_head card-text"> Nama Kota </p>
                <input class="form-control" name="kota" placeholder="Ex. (Medan)"/><br>
                
                <center>
                  <button type="submit" class="title_head btn btn-primary">Search</button>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form><br>
    
    <div class="container">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <p class="h5 text-left title_head text-card text-danger">* NOTE</p><br>
              <p class="title_head"> Maap jika sebelumnya untuk beberapa kota tidak tersedia :), hal ini dikarenakan di API yang saya gunakan untuk list kotanya kurang lengkap </p>
          </div>
        </div>
      </div>
    </div><br>
    <!-- Footer -->
    <div class="container-fluid">
      <div class="jumbotron bg-dark">
        <p class="h5 text-center title_head text-light">Made with <i class="fas fa-heart text-danger"></i> By VIT ID</p><br>
          <div class="container">
            <center>
              <a href="https://github.com/DavitID">
                <p class="fab fa-github text-light"> Github </p>
              </a>
            </center>
            <center>
              <a href="https://instagram.com/davit__id">
                <p class="fab fa-instagram text-light"> Instagram </p>
              </a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
        